<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RecordsPath" value="C:\Apps\Excel2Excel\Records"/>
    <add key="FileGridDivider" value="|____|"/>
    <add key="FileNameOwner" value="owner"/>
    <add key="FileNameExcel" value="excel"/>
    <add key="FileNameSchemaSpecial" value="single"/>
    <add key="FileNameSchemaMultiple" value="multiple"/>
    <add key="FileNameSchemaMultipleHorizontal" value="_horizontal"/>
    <add key="FileNameSchemaMultipleStartCount" value="_startcount"/>
  </appSettings>
</configuration>